<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui" />
  <package id="deepl" />
  <package id="gsudo" />
  <package id="dnspy" />
  <package id="doxygen.install" />
  <package id="everything" />
  <package id="fiddler" />
  <package id="git.install"
           packageParameters="/NoShellIntegration" />
  <package id="ilspy" />
  <package id="linqpad" />
  <package id="nodejs"  version="14.15.1" />
  <package id="nvm" />
  <package id="paint.net" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="screentogif" />
  <package id="slack" />
  <package id="vswhere" />
  <package id="winmerge" />
  <package id="wiztree" />
  <package id="yarn" />
</packages>
