<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="bitwarden" />
  <package id="chocolateygui" />
  <!--
    2019.10.01 現在、ハッシュが一致しなくてインストールできないので手動で入れる
  <package id="cubepdf" />
  <package id="cubepdfutility" />
  -->
  <package id="docker-desktop" />
  <package id="git.install" packageParameters="/NoShellIntegration /NoAutoCrlf"/>
  <!--
    個人的な用途であり、一般的に必要でもない
  <package id="GoogleChrome" />
  <package id="kindle" />
  <package id="microsoft-edge-insider" />
  <package id="notepadplusplus.install" />
  <package id="powertoys" />
  -->
  <!--
    デスクトップ開発では必ずしも必要ない
  <package id="nodejs.install" />
  -->
  <!--
    別途入れる
  <package id="office365proplus" />
  -->
  <package id="paint.net" />
  <package id="powershell-core" />
  <!--
    以下は英語版なので、いったんコメントアウト
  <package id="sql-server-management-studio" />
  -->
  <package id="slack" />
  <package id="vscode" packageParameters="/NoDesktopIcon"/>
  <package id="visualstudio2019professional" packageParameters="--add Microsoft.VisualStudio.Workload.CoreEditor --add Microsoft.VisualStudio.Workload.NetWeb --add Microsoft.VisualStudio.Workload.Azure --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.Universal --add Microsoft.VisualStudio.Workload.Data --add Microsoft.VisualStudio.Workload.VisualStudioExtension --add Microsoft.VisualStudio.Workload.NetCoreTools --add Microsoft.VisualStudio.Workload.Office --add Component.GitHub.VisualStudio --passive --norestart"/>
  <package id="winmerge" />
  <!--
    ライセンスがあれば以下を有効化
  <package id="linqpad" />
  <package id="resharper" />
  -->
</packages>