<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="bitwarden" />
  <package id="chocolateygui" />
  <package id="cubepdf" />
  <package id="cubepdfutility" />
  <package id="docker-desktop" />
  <package id="git.install" packageParameters="/NoShellIntegration /NoAutoCrlf"/>
  <package id="GoogleChrome" />
  <package id="kindle" />
  <package id="microsoft-edge-insider" />
  <package id="nodejs.install" />
  <package id="notepadplusplus.install" />
  <package id="office365proplus" />
  <package id="paint.net" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="resharper" />
  <package id="sql-server-management-studio" />
  <package id="slack" />
  <package id="vscode" packageParameters="/NoDesktopIcon"/>
  <package id="winmerge" />
</packages>